* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  display: "flex";
  justify-content: "center";
  margin-top: 15px;
}

.btn {
  color: white;
  background-color: #4caf50;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  

}
